* {
    padding: 0;
    margin: 0;
}

body {
    width: 100%;
    height: auto;
    background-color: black;
    overflow: hidden;
}

.content {
    width: 80%;
    margin: 4% 10% 5% 10%;
}

.content img {
    width: 100%;
}

.text-wrapper {
    width: 100%;
    position: relative;
    margin-top: -40%;
    border-bottom: 20px;
}

.text-wrapper h1 {
    text-align: center;
    color: white;
    font-size: 10vw;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}